body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
header {

width: 100%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
background: var(--bg-color);
transition: 0.2s;
box-shadow: -3px -3px 7px #ffffff73,
  2px 2px 5px rgba(94, 104, 121, 0.288);
}

header.shadow {
box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.icon {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navbar {
display: flex;
}

.navbar a {
font-size: 1rem;
padding: 10px 20px;
color: var(--text-color);
font-weight: 500;

 width: Fixed (1,441px);
 height: Fixed (109px);
 border: 0px 0px 1px 0px;

}

.navbar a:hover {
color: var(--hover);
}
.signup button {
  background: rgb(7, 104, 207);
  border: none;
  padding: 7px 20px;
  margin-right: 100px;
  border-radius: 6px;
  color: white;
  font-size: .9em;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu-icon {
font-size: 24px;
cursor: pointer;
z-index: 10001;
display: none;
}

.poster
{
  margin-top: 50px;
  width: 100%;
  height: 600px;
  display: flex;
}
.post1
{
  width: 50%;

}
.poster .post1 h1
{
  
  align-items: center;
  text-align: center;
  font-size:60px;
  padding-top: 70px;
}
.poster .post1 h2
{
  
  align-items: center;
  text-align: center;
  font-size: 50px;
}
.poster .post1 button
{
  background-color: rgb(7, 104, 207);
  color: wheat;
  text-decoration: none;
  border: none;
  padding: 15px 30px 15px 30px;
  margin-left: 50px;
  font-weight: bold;
}

.post2
{
  width: 55%;
  background-image: url(images/new2.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
}
 


  .container {
    display: flex;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
    align-items: center;
   /*  gap: 20px;
    padding: 20px; */
  }

  .container-item {
   /*  width: 327px;
    height: 275px; */
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-item img {
    max-width: 100%;
    max-height: 100%;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
     



  }

  #container1 {
     width: Fixed(1517px);
      
      
     
      


  } 
  .help_container h1
{
  padding-top: 30px;
  text-align: center;
  font-size: 45px;
  color: white;
}
.cont
{
  display: flex;
  /* margin-bottom: 40px; */
  padding-bottom: 50px;
}
.conta1
{
  margin-left:120px;
  display: flex;
  justify-items: space-between;
  background-color:#289F73;
  padding: 20px;
  border-radius: 20px;

}
.conta2
{
  margin:auto;
  display: flex;
  justify-items: space-between;
  background-color:#289F73;
  padding: 20px;
  border-radius: 20px;

}
.conta1 .cont_image img
{
  margin-right: 5px;
  margin-top: 10px;
}
.conta1 .cont_content p
{
  margin-left: 4px;
  color: white;
  font-size: 20px;
}
.conta2 .cont_content p
{
  margin-left: 4px;
  color: white;
  font-size: 20px;
}
.conta3
{
  
  margin-top: 15;
  margin-left: 450px;
  display: flex;
  justify-items: space-between;
  background-color:#289F73;
  padding: 20px;
  border-radius: 20px;

}
.conta3 .cont_image img
{
  margin-right: 5px;
  margin-top: 10px;
}
.conta4 .cont_content p
{
  margin-left: 4px;
  color: white;
  font-size: 20px;
}
.conta3 .cont_content p
{
  margin-left: 4px;
  color: white;
  font-size: 20px;
}
.conta4
{
  margin:auto;
  display: flex;
  justify-items: space-between;
  background-color:#289F73;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-around;

}
.conta4 .cont_image img
{
  margin-right: 5px;
  margin-top: 10px;
}
.conta1 .cont_content p
{
  margin-left: 4px;
  color: white;
  font-size: 20px;
}
.conta2 .cont_content p
{
  margin-left: 4px;
  color: white;
  font-size: 20px;
}
.arrow ul
{
  display: flex;
}
.arrow ul li
{
  list-style: none;
}
.arrow1
{
  align-items: start;
}

  #container2 {
      /* width: Hug (1,438px);
      height: Hug (1,155px);
      padding: 85px 135px 85px 135px;
      gap: 47px; */

      background: linear-gradient(0deg, #0900BC, #0900BC),linear-gradient(83.5deg, #0F2B95 0%, #468BFD 100%);


  } 
  #container3 {
      width: Fixed (1,440px);
      height: Hug (636px);
      padding: 85px 135px 85px 135px;
      gap: 64px;
      background: rgba(255, 255, 255, 1);



  } 
 